*{padding: 0px;
    margin:  0;
    box-sizing: border-box;
     }
  
  #mainhead{
  margin-left: 600px;
  padding-top: 30px;
  color: rgba(57, 95, 179, 0.699);
  }
  
  #SDE{
      margin-left: 650px;
      color: rgba(57, 95, 179, 0.699);
  
  }
  .column-layout{
      display: flex;
      border: solid rgba(57, 95, 179, 0.699);;
      margin-top: 50px;;
      margin-right: 300px ;
      margin-left: 300px;
     /* border-bottom: solid rgba(57, 95, 179, 0.699);
      border-left: solid rgba(57, 95, 179, 0.699);
      border-right: solid rgba(57, 95, 179, 0.699);*/
  }
  .div_1stcolumn{
      
      color:rgba(57, 95, 179, 0.699);
      flex: 2;
      margin-right: 0px;
      margin-left: 30px;
      margin-top: 50px;
      /*border-right: solid 2px ;
      height: 550px;*/
      border-right: solid;
      height: 550px;
  }
  
  .div_2stcolumn{
      
      color:rgba(57, 95, 179, 0.699);
      flex: 2;
      margin-right: 30px;
      margin-left: 0px;
      margin-top: 50px;
      padding-top: 20px;
      padding-left: 20px;
      
      
     
  }